<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Hello</h1>
    <a href="{% url 'addStudent' %}">+ Add New</a>
    <table border="10">
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Age</th>
            <th>Address</th>
            <th>Action</th>
        </tr>
        {% for student in all_student %}
        <tr>
            <td>{{ student.id }}</td>
            <td>{{ student.Student_name }}</td>
            <td>{{ student.age }}</td>
            <td>{{ student.address }}</td>
            <td>
                <a href="upadte"><button class="btn">UPDATE</button></a>
                <a href="delete"><button class="btn">DELETE</button></a>
            </td>
        </tr>
        {% endfor %}
    </table>
</body>
</html>