<!-- {% for post in posts %}
<a href="post/{{post}}">
    post {{post}} <br>
</a>
{% endfor %} -->
<!-- 
{{ faculty.faculty_name}} -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action ="/update/{{ faculty.id}}" method="post">
        {% csrf_token %}
        <div>
            <label for=""> Name</label><br>
            <input type="text" name="name" id="" value="{{faculty.faculty_name}}">
        </div>
        <div>
            <label for=""> qualification</label><br>
            <input type="text" name="qualification" id="" value="{{faculty.qualification}}">
        </div>
        <div>
            <label for=""> salary</label><br>
            <input type="text" name="salary" id="" value="{{faculty.salary}}">
        </div>
        <p>
            <input type="submit" value="UPDATE">
        </p>
    </form>
</body>
</html>

