{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <title>Document</title>
</head>
<body>
    <header>
        <div class="header">
            <div>100RAB SAGAR</div>
            <a href=""><button class="btn">LOGIN</button></a>
        </div>
    </header>
    <div class="container">
        {% for blog in blogs %}
        <div class="card" style="width: 80%; padding-top: 1rem;">
            <div class="card__header">
                <img style="display: block; margin: auto; border-radius: 1rem;"  src="https://source.unsplash.com/600x400/?"  alt="card__image" class="card__image" width="600" >
            </div>
            <div class="card__body">
                <span class="tag tag-blue">{{blog.category}}</span>
                <h4>{{ blog.title}}</h4>
                <p>{{ blog.description |truncatewords:20 }}</p>
                <a href="blog/{{ blog.id }}">Read More >>></a>
            </div>
            <div class="card__footer">
                <div class="user">
                  <div class="user__info">
                    <h5>{{blog.author}}</h5>
                    <small>{{blog.created_at}}</small>
                  </div>
                </div>
            </div>
        </div>
        {% endfor %}
    <div>
   
</body>
</html>
