<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body> 
    <h2>Add Employee</h2> 
    <form action="addemp" method="post">
        {% csrf_token %}
        <p>
          <label for="">ENTER ID :</label> <br>
          <input type="text" , name = "id" , id="">
        </p>
        <p>
          <label for="">ENTER NAME :</label> <br>
          <input type="text" , name = "name" , id="">
        </p>
        <p>
          <label for="">ENTER ADDRESS :</label> <br>
          <input type="text" , name = "address" , id="">
        </p>
        <p>
          <input type="submit" value="ENTER">
        </p>
    </form>
</body>
</html>