<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>FORM</h1>
    <table>
        <tr>
            <th>ID</th>
            <th>NAME</th>
            <th>AGE</th>
            <th>ADDRESS</th>
        </tr>
        {% for form in all_form%}
        <tr>
            <td>{{form.id}}</td>
            <td>{{form.Form_name}}</td>
            <td>{{form.age}}</td>
            <td>{{form.address}}</td>
        </tr>
        {% endfor %}
    </table>
</body>
</html>