{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel=" stylesheet" href="static/css/project.css">
    <link rel=" stylesheet" href="static/css/utils.css">
   <title>Document</title>
</head>
<body>
    <header>
        <nav>
            <div class="logo">
                <img src="flipkart-plus_8d85f4.png" alt="">
            </div>
            <ul>
                <li> <a href="Home">HOME</a> </li>
                <li> <a href="About">ABOUT</a></li>
                <li><a href="Contact">CONTACT</a></li>
            </ul>
            <div class="search">
                <input type="text" name="" id="" placeholder="Search Here">
                <button class="btn">SEARCH</button>
            </div>
            </div>
        </nav>
    </header>
    <main>
        <div class="container">
            <div class="offer">
                <img src="https://source.unsplash.com/600x400/?"
                        height="28vh" width="50px" alt="">
                        <div id="Topoffer">Top offer</div>
            </div>
            <div class="offer">
                <img src="https://source.unsplash.com/600x400/?"
                height="28vh" width="50px" alt="">
                <div id="Topoffer">Grocery </div>
            </div>
            <div class="offer">
                <img src="https://source.unsplash.com/600x400/?"
                height="28vh" width="50px" alt="">
                <div id="Topoffer"> Fashion</div>
            </div>
            <div class="offer">
                <img src="https://source.unsplash.com/600x400/?"
                height="28vh" width="50px" alt="">
                <div id="Topoffer">Electronics</div>
            </div>
            <div class="offer">
                <img src="https://source.unsplash.com/600x400/?"
                height="28vh" width="50px" alt="">
                <div id="Topoffer">Travel</div>
            </div>
            <div class="offer">
                <img src="https://source.unsplash.com/600x400/?"
                height="28vh" width="50px" alt="">
                <div id="Topoffer">Beauty</div>
            </div>
            <div class="offer">
                <img src="https://source.unsplash.com/600x400/?"
                height="28vh" width="50px" alt="">
                <div id="Topoffer">Toys</div>
            </div>
            
        </div>
        <div class="container1">
            <div class="slider" >
                <img class="mySlides" src="https://source.unsplash.com/600x400/?" style="width:100%">
                <!-- <img class="mySlides" src="https://source.unsplash.com/600x400/?" style="width:100%">
                <img class="mySlides" src="https://source.unsplash.com/600x400/?" style="width:100%"> -->
              </div>
            <div class="card">
                <h2>Deals Of The day</h2>
                <div class="card-item">
                    <img src="https://source.unsplash.com/600x400/?"
                        height="28vh" width="6vw" alt="">
                    <div class="lines">
                        <p class="text-center" id="my-1">Stickers</p>
                        <p class="text-center" id="my-2">20% off</p>
                        <p class="text-center" id="my-3">Big Discount</p>
                    </div>
                </div>
                <div class="card-item">
                    <img src="https://source.unsplash.com/600x400/?"
                        height="28vh" width="6vw" alt="">
                    <div class="lines">
                        <p class="text-center" id="my-1">Stylish Sunglasses</p>
                        <p class="text-center" id="my-2">20% off</p>
                        <p class="text-center" id="my-3">Grab Now</p>
                    </div>
                </div>
                <div class="card-item">
                    <img src="https://source.unsplash.com/600x400/?"
                        height="28vh" width="6vw" alt="">
                    <div class="lines">
                        <p class="text-center" id="my-1">Mats</p>
                        <p class="text-center" id="my-2">80% off</p>
                        <p class="text-center" id="my-3">Grab Now</p>
                    </div>
                </div>
                <div class="card-item">
                    <img src="https://source.unsplash.com/600x400/?"
                        height="28vh" width="6vw" alt="">
                    <div class="lines">
                        <p class="text-center" id="my-1">Belt</p>
                        <p class="text-center" id="my-2">20% off</p>
                        <p class="text-center" id="my-3">Grab Now</p>
                    </div>
                </div>
                <div class="card-item">
                    <img src="https://source.unsplash.com/600x400/?"
                        height="28vh" width="6vw" alt="">
                    <div class="lines">
                        <p class="text-center" id="my-1">Lawn</p>
                        <p class="text-center" id="my-2">50% off</p>
                        <p class="text-center" id="my-3">Grab Now</p>
                    </div>
                </div>
            </div>
            <hr> <hr>
            <div class="card">
                <h2>MOBILES</h2>
                <div class="card-item">
                    <img src="https://source.unsplash.com/600x400/?"
                        height="28vh" width="6vw" alt="">
                    <div class="lines">
                        <p class="text-center" id="my-1">NOKIA</p>
                        <p class="text-center" id="my-2">20% off</p>
                        <p class="text-center" id="my-3">Grab Now</p>
                    </div>
                </div>
                <div class="card-item">
                    <img src="https://source.unsplash.com/600x400/?"
                        height="28vh" width="6vw" alt="">
                    <div class="lines">
                        <p class="text-center" id="my-1">OPPO</p>
                        <p class="text-center" id="my-2">20% off</p>
                        <p class="text-center" id="my-3">Grab Now</p>
                    </div>
                </div>
                <div class="card-item">
                    <img src="https://source.unsplash.com/600x400/?"
                        height="28vh" width="6vw" alt="">
                    <div class="lines">
                        <p class="text-center" id="my-1">LENOVO</p>
                        <p class="text-center" id="my-2">20% off</p>
                        <p class="text-center" id="my-3">Grab Now</p>
                    </div>
                </div>
                <div class="card-item">
                    <img src="https://source.unsplash.com/600x400/?"
                        height="28vh" width="6vw" alt="">
                    <div class="lines">
                        <p class="text-center" id="my-1">REDMI</p>
                        <p class="text-center" id="my-2">20% off</p>
                        <p class="text-center" id="my-3">Grab Now</p>
                    </div>
                </div>
                <div class="card-item">
                    <img src="https://source.unsplash.com/600x400/?"
                        height="28vh" width="6vw" alt="">
                    <div class="lines">
                        <p class="text-center" id="my-1">VIVO</p>
                        <p class="text-center" id="my-2">20% off</p>
                        <p class="text-center" id="my-3">Grab Now</p>
                    </div>
                </div>
            </div>
        </div>
    </main>
    <footer class="flex-all-center">
        <p> Copyright &copy; My Cart.com</p>
    </footer>

</body>

</html>